%li.clearfix.clickable{"data-url": player_path(player)}
  %span.float-left
    %span.score= score
    = link_to player.name, player
    = content_tag(:i, nil, class: 'fas fa-star') if player.hof

  %span.float-right
    = active_years(player)
