%li.clearfix.clickable{"data-url": player_path(player), title: "score: #{score}"}
  %span.float-left
    = link_to player.name, player
    = content_tag(:i, nil, class: 'fas fa-star') if player.hof

  %span.float-right
    = active_years(player)
