:javascript
  var yearsActiveRange = function(yearBegin, yearEnd) {
    return (!yearBegin ? '' : yearBegin + ' - ' + yearEnd);
  };

  var hofIndicator = function(hof) {
    return (hof ? '#{content_tag(:i, nil, class: 'fas fa-star')}' : '');
  };

  $(function(){
    $('#player-select').selectize({
      valueField: 'slug',
      labelField: 'name',
      searchField: 'name',
      options: [],
      create: false,
      render: {
        option: function(item, escape) {
          return '<div class="suggestion">' +
            '<span class="name">' +
            escape(item.name) +
            hofIndicator(item.hof) +
            '</span>' +
            '<span class="years">' + escape(yearsActiveRange(item.active_year_begin, item.active_year_end)) + '</span>' +
          '</div>';
        }
      },

      highlight: false,
      maxItems: 1,
      persist: false,
      closeAfterSelect: true,
      openOnFocus: false,
      // loadThrottle: 250,


      onChange: function(val) {
        if (val != '') {
          Turbolinks.visit("/players/" + val);
        }
      },

      onFocus: function() {
        let value = this.getValue();
        if (value.length > 0) {
          this.clear(true);
          // this.$control_input.val(value);
        }
      },

      load: function(query, callback) {
        if (!query.length) return callback();
        $.ajax({
          url: "#{players_path}?q=" + encodeURIComponent(query),
          type: 'GET',
          error: function() {
            callback();
          },
          success: function(res) {
            // console.log(res);
            callback(res);
          }
        });
      }
    });
  });


.selector
  %form
    = text_field_tag 'q', nil, placeholder: 'search for player', id: 'player-select', class: 'player-suggest', value: @player.try(:name)
