
.grid-x.grid-padding-x
  .small-12.medium-9.large-6.cell

    :javascript
      $(function(){
        $('#player-select').selectize({
          // theme: 'repositories',
          valueField: 'id',
          labelField: 'name',
          searchField: 'name',
          options: [],
          create: false,
          render: {
            option: function(item, escape) {
              return '<div class="suggestion">' +
                '<span class="name">' + escape(item.name) + '</span>' +
                '<span class="years">' + escape(item.active_year_begin) + ' - ' + escape(item.active_year_end) + '</span>' +
              '</div>';
            }
          },

          highlight: false,
          maxItems: 1,
          closeAfterSelect: true,


          load: function(query, callback) {
            if (!query.length) return callback();
            $.ajax({
              url: "#{players_path}?q=" + encodeURIComponent(query),
              type: 'GET',
              error: function() {
                callback();
              },
              success: function(res) {
                // console.log(res);
                callback(res);
              }
            });
          }
        });
      });


    %form
      = text_field_tag 'q', nil, placeholder: 'search for player', id: 'player-select', class: 'player-suggest'


    -# %ul.similar-career-players
    -#   - @similar_career_players.each do |similar_career_player|
    -#     %li= similar_career_player.related_player.name
