body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $dark-gray;
  // font-weight: bold;
}


.clickable {
  cursor: pointer;
}

i.fas.fa-star {
  color: rgba($primary-color, 0.375);
  // margin: 0 5px;
}

.grid-container.main {
  margin-top: 1rem;
  min-height: 400px;
}


section.what-is-this {
  margin-top: 6rem;
}

// section.about {
//   h3, h4, h5, h6 {
//     font-weight: bold;
//   }
// }
