header.main {
  background-color: $primary3-color;

  h4.title {
    color: $light-gray;
    font-weight: normal;
    margin: 0.25em;

    i { padding-left: 0.15em; }
  }

  a {
    color: #fff;
    text-decoration: underline;
  }
}

.title-grid {
  align-items: center;
}
