.grid-career {}

.grid-age {
  margin-top: 2em;

  .tabs {
    background: $light-background-color;
  }

  .tabs-content {
    background: transparent;
    border: 0;
  }

  .tabs-panel {
    padding: 1rem 0;
  }
}

.player-meta {
  .player-card {
    background-color: $light-background-color;

    h5.name {
      // margin-top: 0.5em;
      margin-bottom: 0;
    }

    .image {
      margin-right: 0.5em;
    }
  }
}
