.grid-age {
  margin-top: 2em;

  .tabs {
    background: $light-background-color;
  }

  .tabs-content {
    background: transparent;
    border: 0;
  }

  .tabs-panel {
    padding: 1rem 0;
  }

  .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background: #fefefe;
  }
}

.player-meta {
  .player-card {
    background-color: $light-background-color;

    h5.name {
      margin-bottom: 0;
    }

    .summary {
      margin-left: 0.5em;
    }
  }
}


ul.similar-career-players, ul.similar-age-players {
  li {
    &:hover {
      background-color: $light-background-color;
    }

    .score {
      padding-right: 1em;
      color: #999;
      font-size: 0.8em;
    }
  }
}
