%footer.main
  .grid-container.clearfix
    .grid-x.grid-padding-x
      .medium-6.cell.text-left
        %p
          %i.fas.fa-star
          indicates HOF status
        %p
          = link_to_random_player


      .medium-6.cell.text-right.credits
        %p by dave vanderkloot

        %ul.no-bullet
          %li data from #{link_to_baseball_reference}

          %li #{link_to_similarity_scores_description 'Similarity Score formula'} by #{link_to_bill_james}
