%footer.main
  .grid-container.clearfix
    .grid-x.grid-padding-x
      .medium-6.cell.text-left
        %i.fas.fa-star
        indicates HOF status


      .medium-6.cell.text-right.credits
        %p by Dave VanderKloot

        %ul.no-bullet
          %li data from #{link_to_baseball_reference}

          %li #{link_to_similarity_scores_description 'Similarity Score formula'} by #{link_to_bill_james}
