%header.main
  .grid-container.clearfix
    .grid-x.title-grid
      .small-8.cell.text-left
        %h4.title.clickable{'data-url': root_path}
          Similarity Scores
          %i.fas.fa-baseball-ball

      .small-4.cell.text-right
        = link_to_random_player('random')
        %span.delimiter
          |
        = link_to "about", about_path
