%header.main
  .grid-container.clearfix
    %h4.title.float-left.clickable{'data-url': root_path}
      Similarity Scores
      %i.fas.fa-baseball-ball

    .float-right
      = link_to "about", "/about", class: 'about'
